:root {
  color-scheme: light dark;

  --accent: rgb(39, 83, 180);
  --near-white: #efefef;
  --dark-white: #e2e2e2;
  --darker-white: #cecece;

  --dark-grey: #15161c;
  --bluish-grey: #22242d;
  --grey: #333;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
}

button {
  all: unset;
  user-select: none;
}

button:focus-visible {
  outline: 3px solid dodgerblue;
}

.btn {
  color: var(--darker-white);
}

[data-theme="dark"] {
  background: var(--dark-grey);
  color: var(--darker-white);

  --form-bg: var(--bluish-grey);
  --nav-outline: var(--grey);
  --nav-hover: var(--grey);
}

[data-theme="light"] {
  background: var(--dark-white);
  color: var(--dark-grey);

  --form-bg: var(--darker-white);
  --nav-outline: #cecece;
  --nav-hover: var(--darker-white);
}
