:root {
  color-scheme: light dark;
  --accent: rgb(39, 83, 180);
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
}

button {
  all: unset;
  user-select: none;
}

button:focus-within {
  outline: 3px solid dodgerblue;
}

@media screen and (prefers-color-scheme: light) {
  body {
    background: #e2e2e2;
  }
}
