:root {
  color-scheme: light dark;
  --accent: rgb(39, 83, 180);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

a:link {
  color: dodgerblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: dodgerblue;
}
